body {
  font-family: "Montserrat", sans-serif;
  background: black;
  color: white;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}
footer {
  color: gray;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.background_image {
  display: flex;
  justify-content: center;
}
#second_background {
  display: flex;
  justify-content: center;
}
.http_button {
  position: absolute;
  /*justify-content: center;*/
  align-self: center;
  height: 89px;
  width: 312px;
  margin-bottom: 350px;
}
.button_image {
  position: absolute;
  /*justify-content: center;*/
  align-self: center;
  height: 89px;
  width: 312px;
  background: url(images/support_button_normal.png) no-repeat;
}

.button_image:hover {
  background: url(images/support_button_glow.png) no-repeat;
}

.steam_widget {
  position: absolute;
  /*justify-content: center;*/
  align-self: center;
}

.photo {
  /*margin-top: 25px;*/
}

@media screen and (max-width: 1000px) {
  .background_image {
    width: 960px;
    margin: 0px;
    padding: 0px;
  }
  body {
    width: 960px;
  }
  .container {
    width: 960px;
  }
  .photo {
    width: 960px;
  }
  .steam_widget {
    scale: 80%;
  }
  .http_button {
    margin-bottom: 320px;
  }
}

@media screen and (max-width: 500px) {
  .background_image {
    width: 500px;
    margin: 0px;
    padding: 0px;
  }
  body {
    width: 500px;
  }
  .container {
    width: 500px;
  }
  .photo {
    width: 500px;
  }
  .steam_widget {
    scale: 45%;
  }
  .button_image {
    scale: 45%;
  }
  .http_button {
    align-self: start;
    margin-top: 7%;
  }
}
@media screen and (max-width: 400px) {
  .background_image {
    width: 400px;
    margin: 0px;
    padding: 0px;
  }
  body {
    width: 400px;
  }
  .container {
    width: 400px;
  }
  .photo {
    width: 400px;
  }
  .steam_widget {
    scale: 35%;
  }
  .button_image {
    scale: 45%;
  }
  .http_button {
    align-self: start;
    margin-top: 7%;
  }
}
