/* * {
  border: 1px solid red;
} */

body {
  font-family: "Montserrat", sans-serif;
  background: black;
  color: white;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

button {
  border: none;
}

footer {
  color: gray;
}

.background_image {
  display: flex;
  justify-content: center;
  position: relative;
}
.background_image2 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 50px;
}

#second_background {
  display: flex;
  justify-content: center;
}

.button_image {
  position: absolute;
  /*justify-content: center;*/
  /* align-self: top; */
  height: 89px;
  width: 312px;
  background: url(images/support_button_normal.png) no-repeat;
}

.kickstarter_button_image {
  position: absolute;
  /*justify-content: center;*/
  /* align-self: top; */
  height: 89px;
  width: 312px;
  background: url(images/support_button_normal.png) no-repeat;
}

.http_button {
  position: absolute;
  /* justify-content: center; */
  /* align-self: top; */
  height: 89px;
  width: 312px;
  margin-top: 130px;
}
.kickstarter_http_button {
  position: absolute;
  /* justify-content: center; */
  /* align-self: top; */
  height: 89px;
  width: 312px;
  margin-top: 130px;
}
.playdemo_button_image {
  position: absolute;
  /*justify-content: center;*/
  align-self: center;
  height: 89px;
  width: 312px;
  background: url(images/DEMO_button_normal.png) no-repeat;
}
.playdemo_http_button {
  position: absolute;
  /* justify-content: center; */
  align-self: center;
  height: 89px;
  width: 312px;
}
.facebook_media_button_image {
  position: relative;
  /*justify-content: center;*/
  align-self: center;
  height: 38px;
  width: 22px;
  margin-left: 20px;
  margin-right: 20px;
  background: url(images/logo_Facebook.png) no-repeat;
}
.facebook_media_http_button {
  /* position: absolute; */
  /* justify-content: center; */
  align-self: center;
  height: 38px;
  width: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

.youtube_media_button_image {
  position: relative;
  /*justify-content: center;*/
  align-self: center;
  height: 38px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background: url(images/logo_YouTube.png) no-repeat;
}
.youtube_media_http_button {
  /* position: absolute; */
  /* justify-content: center; */
  align-self: center;
  height: 38px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.tiktok_media_button_image {
  position: relative;
  /*justify-content: center;*/
  align-self: center;
  height: 38px;
  width: 34px;
  margin-left: 20px;
  margin-right: 20px;
  background: url(images/logo_Tik_Tok.png) no-repeat;
}
.tiktok_media_http_button {
  /* position: absolute; */
  /* justify-content: center; */
  align-self: center;
  height: 38px;
  width: 34px;
  margin-left: 20px;
  margin-right: 20px;
}
.steamstore_button_image {
  position: absolute;
  /*justify-content: center;*/
  align-self: center;
  height: 59px;
  width: 201px;
  background: url(images/logo_Steamv2.png) no-repeat;
}
.steamstore_http_button {
  position: absolute;
  /* justify-content: center; */
  align-self: center;
  height: 59px;
  width: 201px;
}


.kickstarter_button_image:hover {
  background: url(images/support_button_glow.png) no-repeat;
}
.playdemo_button_image:hover {
  background: url(images/DEMO_button_glow.png) no-repeat;
}
.facebook_media_button_image:hover {
  transform: scale(105%);
}
.youtube_media_button_image:hover{
  transform: scale(105%);
}
.tiktok_media_button_image:hover{
  transform: scale(105%);
}
.steamstore_http_button:hover{
  transform: scale(105%);
}

.youtube_widget {
  display: flex;
  position: absolute;
  /* justify-content: center; */
  align-self: bottom;
  scale: 100%;
  bottom: 0px;
}
.youtube_iframe {
  border: 3px outset #2d6749;
  border-radius: 12px;
}
.steam_widget {
  position: absolute;
  /*justify-content: center;*/
  align-self: top;
  margin-top: 45px;
}

.photo {
  /*margin-top: 25px;*/
}

@media screen and (max-width: 1000px) {
  body {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    align-self: center;
    overflow-x: hidden;
  }
  .container {
    max-width: 100%;
    overflow-x: hidden;
  }
  footer {
    max-width: 100%;
    max-height: 20px;
    overflow-x: hidden;
  }
  .background_image {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    align-self: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }

.background_image2 {
  scale: 60%;
  align-items: center;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  align-self: center;
  overflow-x: hidden;
}
  .photo {
    width: 95%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .youtube_widget {
    margin: 0px;
    top: 0px;
    scale: 70%;
    transform-origin: bottom;
  }
  .youtube_iframe {
    align-self: flex-end;
  }
  .steam_widget {
    align-self: top;
    margin-top: -5px;
    scale: 70%;
  }
  .http_button {
    max-width: 100%;
    align-self: top;
    margin-top: 65px;
  }
  .button_image {
    align-self: center;
    scale: 50%;
  }
  .playdemo_button_image {
    scale: 75%;
  }
  .playdemo_http_button {
    max-width: 100%;
  }
  .facebook_media__button_image {
    scale: 75%;
    align-self: center;
  }
  .facebook_media__http_button {
    scale: 75%;
    align-self: center;
  }

.youtube_media__button_image {
  scale: 75%;
}
.youtube_media__http_button {
  scale: 75%;
}

  .tiktok_media__button_image {
    scale: 75%;
  }
  .tiktok_media__http_button {
    scale: 75%;
  }
  .steamstore_button_image {
    scale: 75%;
  }
  .steamstore_http_button {
    scale: 75%;
  }
}

@media screen and (max-width: 650px) {
  body {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    align-self: center;
    overflow-x: hidden;
  }
  .container {
    max-width: 100%;
    overflow-x: hidden;
  }
  footer {
    max-width: 100%;
    max-height: 20px;
    overflow-x: hidden;
  }
  .background_image {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    align-self: center;
    overflow-x: hidden;
  }
  .background_image2 {
    scale: 45%;
    align-items: center;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    align-self: center;
    overflow-x: hidden;
  }
  .photo {
    width: 95%;
    overflow-x: hidden;
  }
  .youtube_widget {
    margin: 0px;
    top: 0px;
    scale: 50%;
    transform-origin: bottom;
  }
  .youtube_iframe {
    align-self: flex-end;
  }
  .steam_widget {
    align-self: top;
    margin-top: -45px;
    scale: 50%;
  }
  .http_button {
    max-width: 100%;
    align-self: top;
    margin-top: 35px;
  }
  .button_image {
    align-self: center;
    scale: 35%;
  }
  .playdemo_button_image {
    scale: 60%;
  }
  .playdemo_http_button {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  body {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    align-self: center;
    overflow-x: hidden;
  }
  .container {
    max-width: 100%;
    overflow-x: hidden;
  }
  footer {
    max-width: 100%;
    max-height: 20px;
    overflow-x: hidden;
  }
  .background_image {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    align-self: center;
    overflow-x: hidden;
  }
  .background_image2 {
    scale: 35%;
    align-items: center;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    align-self: center;
    overflow-x: hidden;
  }
  .photo {
    width: 95%;
    overflow-x: hidden;
  }
  .youtube_widget {
    margin: 0px;
    top: 0px;
    scale: 35%;
    transform-origin: bottom;
  }
  .youtube_iframe {
    align-self: flex-end;
  }
  .steam_widget {
    align-self: top;
    margin-top: -65px;
    scale: 35%;
  }
  .http_button {
    max-width: 100%;
    align-self: top;
    margin-top: 25px;
  }
  .button_image {
    align-self: center;
    scale: 25%;
  }
  .playdemo_button_image {
    scale: 45%;
  }
  .playdemo_http_button {
    max-width: 100%;
  }
  .steamstore_button_image {
    scale: 45%;
  }
  .steamstore_http_button {
    scale: 45%;
  }
}
@media screen and (max-width: 400px) {
  body {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    align-self: center;
    overflow-x: hidden;
  }
  .container {
    max-width: 100%;
    overflow-x: hidden;
  }
  footer {
    max-width: 100%;
    max-height: 20px;
    overflow-x: hidden;
  }
  .background_image {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    align-self: center;
    overflow-x: hidden;
  }
  .background_image2 {
    scale: 32%;
    align-items: center;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    align-self: center;
    overflow-x: hidden;
  }
  .photo {
    width: 95%;
    overflow-x: hidden;
  }
  .youtube_widget {
    margin: 0px;
    top: 0px;
    scale: 32%;
    transform-origin: bottom;
  }
  .youtube_iframe {
    align-self: flex-end;
  }
  .steam_widget {
    align-self: top;
    margin-top: -70px;
    scale: 32%;
  }
  .http_button {
    max-width: 100%;
    align-self: top;
    margin-top: 10px;
  }
  .button_image {
    align-self: center;
    scale: 30%;
  }
  .playdemo_button_image {
    scale: 35%;
  }
  .playdemo_http_button {
    max-width: 100%;
  }
}
@media screen and (max-width: 345px) {
  body {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    align-self: center;
    overflow-x: hidden;
  }
  .container {
    max-width: 100%;
    overflow-x: hidden;
  }
  footer {
    max-width: 100%;
    max-height: 20px;
    overflow-x: hidden;
  }
  .background_image {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    align-self: center;
    overflow-x: hidden;
  }
  .background_image {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    align-self: center;
    overflow-x: hidden;
  }
  .photo {
    width: 95%;
    overflow-x: hidden;
  }
  .youtube_widget {
    margin: 0px;
    top: 0px;
    scale: 25%;
    transform-origin: bottom;
  }
  .youtube_iframe {
    align-self: flex-end;
  }
  .steam_widget {
    align-self: top;
    margin-top: -75px;
    scale: 25%;
  }
  .http_button {
    max-width: 100%;
    align-self: top;
    margin-top: auto;
    scale: 15%;
  }
  .button_image {
    align-self: center;
    scale: 100%;
  }
  .playdemo_button_image {
    scale: 25%;
  }
  .playdemo_http_button {
    max-width: 100%;
  }
}
